<div class="container">
  <div class="row offset-1">
    <div class="col-sm-8 px-sm-0 my-3">
      <h3>レビュー投稿</h3>

    </div>
  </div>
</div>

<div class="row offset-3">
  <div class="col-sm-11 position-static">

    <%= form_with model: @review do |f| %>

    <div class="form-group">
      <div class="row">
        <div class="col-md-2">
          <%= f.label :タイトル, class: "mr-5" %>
        </div>
        <div class="col-md-10 position-static">
          <%= f.text_field :title, placeholder:"タイトル" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-2">
          <%= f.label :評価 %>
        </div>
        <div class="col-md-10 position-static">
          <div id="post_raty"></div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-2">
          <%= f.label :住所 %>
        </div>
        <div class="col-md-10 position-static">
          <%= f.collection_select :genre_id, Genre.all, :id, :name, :prompt =>"--選択してください--" %><br>
          <%= f.text_field :address, placeholder:"住所", class:"my-2" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-2">
          <%= f.label :本文 %>
        </div>
        <div class="col-md-10 position-static">
          <%= f.text_area :reviw_text, size: "70x10", placeholder:"本文" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-2">
          <%= f.label :画像, class: "mr-5" %>
        </div>
        <div class="col-md-10 position-static">
          <%= f.file_field :image %>
        </div>
      </div>
    </div>

      <div class="d-flex">
        <p class="mr-5"><%= f.submit "投稿する", class: "btn btn-success" %></p>
        <p class="ml-5"><%= link_to "キャンセル", 'admin_reviews_path', class: "btn btn-success" %></p>
      </div>
    <% end %>



    <!--評価Javascript-->
    <script>
      let elem = document.getElementById('post_raty');
      let opt = {
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        //score: 0,
        scoreName: 'review[evaluation]',
        half: true,
      };
      raty(elem, opt);
    </script>
  </div>
</div>
