<div class="container">
  <div class="row">
    <h1 class="my-5">レビュー一覧</h1>
  </div>

  <div class="col-xs-10 col-sm-10 col-md-6 col-lg-3">
    <div class="card w-100 bg-transparent border-0" style="width: 18rem;">
      <% @reviews.each do |review| %>
        <div class="img-wrap">
            <%= link_to admin_review_path(review.id) do %>
              <% if review.image.attached? %>
                <%= image_tag review.image, size: "180x130" %>
              <% else %>
                <%= image_tag 'no_image', size: "180x130" %>
              <% end %>
              <%= review.title %>
            <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <%= paginate @reviews %>
</div>