<div class="container">
  <div class="row">
    <h1 class="my-5">レビュー一覧</h1>
  </div>

  <div class="container">
    <div class="row">
      <% @reviews.each do |review| %>
        <div class="img-wrap">
            <%= link_to reviews_path(review.id) do %>
              <% if review.image.attached? %>
                <%= image_tag review.image, size: "180x130" %>
              <% else %>
                <%= image_tag 'no_image', size: "180x130" %>
              <% end %>
                <p><%= review.title %></p>
            <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <%= paginate @reviews %>
</div>