<div class="container">
  <div class="row offset-1">
    <div class="col-sm-8 px-sm-0 offset-sm-1">
      <h3>レビュー投稿</h3>
    </div>
  </div>
</div>

<div class="row offset-3">
  <div class="col-sm-10 px-sm-0 mx-auto mb-5 position-static">
    <%= form_with model: @review do |f| %>
    <table>
      <tr>
        <div class="form-group my-2">
          <%= f.label :タイトル %>
          <%= f.text_field :title, placeholder:"タイトル" %>
        </div>
      </tr>

      <tr>
        <div id="post_raty">
          <%= f.label :評価, class: "mr-5" %>
          <%#= f.hidden_field :evaluation, id: :review_star, class: "offset-1" %>
        </div>
      </tr>

      <tr>
        <div class="form-group my-2">
          <%= f.label :住所, class: "mr-5" %>
          <%= f.collection_select :genre_id, Genre.all, :id, :name, :prompt =>"--選択してください--" %><br>
          <%= f.text_field :address, placeholder:"住所", class: "ml-5" %>
        </div>
      </tr>

      <tr>
        <div class="form-group my-2">
          <%= f.label :本文, class: "mr-5" %>
          <%= f.text_area :reviw_text, rows:'5', placeholder:"本文" %>
        </div>
      </tr>

      <tr>
        <div class="form-group my-2">
          <%= f.label :画像, class: "mr-5" %>
          <%= f.file_field :image %>
        </div>
      </tr>

    </table>
      <div class="d-flex">
        <p class="mr-5"><%= f.submit "投稿する", class: "btn btn-success" %></p>
        <p class="ml-5"><%= link_to "キャンセル", 'reviews_path', class: "btn btn-success" %></p>
      </div>
    <% end %>



    <!--評価Javascript-->
    <script>
      let elem = document.getElementById('post_raty');
      let opt = {
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        //score: 0,
        scoreName: 'review[evaluation]',
        half: true,
      };
      raty(elem, opt);
    </script>
  </div>
</div>
